.catalog {
	padding: 40px 0 90px;
	&__row {
		display: flex;
		align-items: flex-start;
		gap: 40px;
		min-height: 200px;
	}
	&__filter {
		max-width: 300px;
		min-width: 250px;
		flex: 1 1 auto;
	}
	&__body {
		width: 100%;
		max-width: 860px;
	}
}

@media (max-width: 992px) {
	.catalog {
		&__filter {
			max-width: 100%;
			min-width: auto;
		}
	}
}

@media (max-width: 767px) {
	
}

// @media (max-width: 992px) {
	
// }