.about {
	&__mission {
		margin: 0 0 224px;
	}
	&__dream-car {
		margin: 0 0 220px;
	}
}

@media (max-width: 992px) {
	.about {
		&__mission {
			margin: 0 0 160px;
		}
		&__dream-car {
			margin: 0 0 160px;
		}
	}
	
}

@media (max-width: 767px) {
	.about {
		&__mission {
			margin: 0 0 84px;
		}
		&__dream-car {
			margin: 0 0 84px;
		}
	}
}